*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

:root{
    --space : 200px
}
body{
    background: #012C5E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: unset;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto ;
    margin-right: auto ;
    color: #00D2F2;
    
}


/* header styling  */

header .container nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin-right: 20px;
}
header .container nav ul{
    list-style: none;
    margin-right: 20px;
}
header .container nav ul .menu{
    display: none;
}

    
header .container nav ul li{
    display: inline;
}

header .container nav ul li a{
    transition: .3s linear;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
}

header .container nav ul li a:hover{
    color: #9db7d6;
}

/* header */

header .header{
    display: flex;
    margin-top: 90px;
}


header .header .text{
    flex: 1;
    margin-top: 40px;
}
header .header .text h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 200%;
font-weight: bolder;
text-transform: uppercase; 
/* majuscule */
max-width: 80%;
}
header .header .text p{
    margin-top: 40px;
    max-width: 80%;
    font-size: 60%;
}



header .header .img_header{
    text-align: right;
    flex: 1;
}
header .header .img_header img{
 width: 79%;
 height: 100%;
 background-image: linear-gradient(to bottom, #00D2F2, #085e6b);
 border-radius: 100%;
 animation: top_bottom 1.3s linear infinite alternate;
}
    
@media (max-width: 700px) {
    header .header{
        flex-direction: column;
        align-items: center;
    }
    header .header .img_header{
        text-align: center;
    }

    p , h1{
        max-width: 100%;
    }
header .header .img_header img{
    margin-top: 100px;
}
}

header button{
    margin-top: 40px;
    cursor: pointer;
}
.get_started{
padding: 10px 20px;
color: #062A55;
font-size: 16px;
font-weight: 400;
line-height: normal;
border-radius: 10px;
background: #00D2F2;
border: none;
transition: .3s;
}
.get_started:hover{
    box-shadow: 1px 0px 10px #00D2F2;
}


/* section  */

#services{
  margin-top: var(--space);
  background-color: rgba(202, 215, 231, 0.80);
}

.container .title_serv{
    text-align: center;
    padding: 60px 0;
}

.title{
    text-align: center;
    color: #012C5E;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -1px;
    position: relative;
    display: inline;
    color: #062A55;
}


.title::after{
    content: "";
    width: 100%;
    height: 6px;
    background-color: #062A55;
    position: absolute;
    bottom: -16px;
    left: 0;
}


#services .container .services{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: var(--space);
}
#services .container .services .service{
text-align: center;
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
}

/* #services .container .services .service:nth-child(2){
    padding: 0 30px;
} */

#services .container .services .service img{
    border-radius: 10px 10px 0 0;
    transition: .3s;
}
#services .container .services .service img:hover{
    filter:opacity(0.5);

}
#services .container .services .service h2{
    margin-top: 15px;
    background-color: #D9D9D9;
    padding: 14px 20px;
    color: #012C5E;
    font-size: 70%;
    font-weight: bolder;
    
}

/* clinets  */
#clients{
    padding-bottom: var(--space);
}

#clients .title{
    color: white;
}

#clients .title::after{
    background-color: white;

}

#clients .clients {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 5%;
}
#clients .clients .client {
    margin-top: 20px;
    padding: 2rem;
    flex: 1;
    border-radius: 20px 20px 20px 0px;
    background: #A3B4C8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#clients .clients .client:hover{
background-color: #9db7d6;
}


#clients .clients .client div{
    color: #062B54;;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
#clients .clients .client  p{
    color: black;
    text-align: justify;
    font-size: 70%;
    line-height: 1.7;
}

#clients .clients .client div img{
    width: 70%;
}
#clients .clients .client div h2{
    color: #062B54;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 120%;
}

#about{
    background-color: #A3B4C8;
    padding-bottom: var(--space);
}

#about .container .content{
    margin-top: 4rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 4%;
}
#about .container .content p{
    flex: 1;
    color: #062B54;
    text-align: justify;
    font-size: 110%;
}

#about .container .content div{
    flex: 1;
}
#about .container .content div img{
    border-radius: 20px;
}

#about h2{
    text-align: right;
    font-size: 1.3rem;
    color: #062B54;
}


/* .container */

@media (max-width : 650px) {
    .container{
        width: 100%;
    }
    #about .container .content{
        margin-bottom: 1rem;
    }
    .cartes{
        grid-template-columns: 1fr; 
    }
 

#services .container .services{
    flex-direction: column;
    align-items: center;
}


#clients .clients {
    flex-direction: column;
}
#about .container .content{
    flex-direction: column;
}

#about .container .content p{
    margin-bottom: 2rem;
}
}


.video{
    margin-top: 100px;
    padding-bottom: 100px;
}
.video video{
    border: 2px solid #ccc;
    width: 100%;

}

#contact{
    padding-bottom: var(--space);
}

#contact .title{
    color: white;
}

#contact .title::after{
    background-color: white;

}

#contact .subscribe input{
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 250px;
    color: white;
    font-size: 1rem;

}
#contact .subscribe input::placeholder{
    color: white;
}

#contact .subscribe button{
    padding: 11px 20px;
    border-radius: 20px;
    margin-left: -50px;
    cursor: pointer;
}

#contact footer{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    flex-wrap: wrap;
}

#contact footer div{
    margin-top: 10px;
}
#contact footer p{
    margin-top: 10px;
}

@media (max-width : 1400px) {
    header .container nav ul .menu{
        display: block;
    }
    header .container nav ul .links{
        display: none;
    }
}

/* medium */

@media (min-width : 1000px) {
    .container{
        width: 960px;
    }
   

}

/* large */

@media (min-width : 1400px) {
    .container{
        width: 1370px;
    }
    body{
        font-size:150%;
    }
}



/* animation declaration */

/* definier animation */
@keyframes top_bottom {
    to{
        transform: translateY(20px);
    }
}