
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(202, 215, 231, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    background-color: white;
    padding: 14px;
    width: 40%;
    border-radius: 14px;
}
.container p{
  margin-bottom: 2rem;
  font-size: 110%;
}
.container h2{
    font-weight: 530;
}

.container form{
  display: flex;
  flex-direction: column;
 gap: 14px;
}
.container form input{
    padding: 14px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.44);
    border-radius: 10px;
}

.container .agremment{
    padding: 14px 0;
}
 
button{
    cursor: pointer;
    user-select: none;
}
.container .commencer{
    padding: 14px;
    
    border-radius: 10px;
    background-color: #1253D6;
    color: white;


}

.container .google {
    padding: 14px;
    border-radius: 10px;
    border: none;
    color: #1253D6;
    cursor: pointer;
}


@media (max-width : 800px) {
.container{
    width: 90%;
}
}