*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root{
    --space : 200px
}
body{
    background: #012C5E;
    height: 2000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
   
}

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: unset;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto ;
    margin-right: auto ;
    color: #00D2F2;

}



header .container nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin-right: 20px;
}
header .container nav ul{
    margin-right: 20px;
}
header .container nav ul .menu{
    display: none;
}
header .container nav ul .menu:hover header .container nav ul .links{
    display: block;

}

header .container nav ul li{
    display: inline;
}

header .container nav ul li a{
    transition: .3s linear;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: normal;
    font-size: 10px;
}

header .container nav ul li a:hover{
    color: #9db7d6;
}



.titre{
    
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titre1{
    color:white;
    margin-top: 100px;
    margin-bottom: 50px;  
}
.img1{
   
    width: 600px;
    height: 500px;
    margin: auto;

}

p{
    color: white;
    margin-bottom: 20px;
}

.li1{
    color: white;
    margin-left: 50px;
}


.titre2{
    color:white;
    margin-top: 100px;
    margin-bottom: 50px;

}

.img2{
    width: 600px;
    height: 500px;
    margin: auto
}


ol{
    color:white;
    margin-left: 50px;
}

ul{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.vidio{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 100px;


    color: #FFF;

text-align: center;
font-family: Cabin;
font-size: 40px;
}











